@use "../base/variables" as *;

.btn {
  background-color: $colour-secondary;
  color: $colour-primary;
  padding: 1.2em 1.6em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-hero {
  font-size: $size-small;
  line-height: 1.86;
  letter-spacing: 1.4px;
}

.btn-main {
  font-size: $size-normal;
  line-height: 1.625;
  letter-spacing: 1.2px;
}

.btn:hover {
  background-color: #7890fb;
}

.btn:active {
  background-color: #2e54fe;
  position: relative;
  top: 2px;
}

.btn:focus {
  border: 1px solid #000;
}
