@use "variables" as *;

//Font family
h1,
p,
input,
h3 {
  font-family: $font-primary;
}

h2,
button,
li a {
  font-family: $font-secondary;
}

//heading styles
h1 {
  font-size: $size-larger;
  letter-spacing: 4.8px;
  line-height: 0.541;
  text-transform: uppercase;
}

h2 {
  font-size: 2.25em;
  line-height: 0.722;
  margin-bottom: 1.5em;
}

h3,
.country {
  font-size: 1.25em;
  line-height: 1.2;
  font-family: $font-primary;
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
}

//Text styles
.text {
  font-size: $size-normal;
  line-height: 1.625;
}

.text-one {
  letter-spacing: 1.6px;
}
