//Fonts
$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Aleo", serif;

//size
$size-small: 0.875em;
$size-normal: 1em;
$size-larger: 3em;

//colours
$colour-primary: #fff;
$colour-secondary: #5474fd;
$color-background: #232323;
