//Fonts
$font-primary: "Josefin Sans", sans-serif;
$font-secondary: "Aleo", serif;

//size
$size-smaller: 0.5em;
$size-small: 0.875em;
$size-normal: 1em;
$size-big: 2em;
$size-large: 3em;
$size-larger: 5em;

//colours
$colour-primary: #fff;
$colour-secondary: #5474fd;
$color-background: #232323;
$color-red: #ff6363;
