@use "../base/variables" as *;

.footer {
  min-height: 28vh;
  padding: $size-larger;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;

  &-logo {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: 3.36px;
    padding-bottom: 0.3em;
    text-transform: uppercase;
  }

  &-slogan {
    padding-bottom: 1.25em;
  }

  i {
    margin-right: 1em;
  }

  a {
    transition: all 0.2s ease-in;
  }

  a:hover {
    color: $colour-secondary;
  }

  .blue {
    color: $colour-secondary;
  }

  .blue i:hover {
    color: $colour-primary;
  }

  a:active {
    position: relative;
    top: 2px;
  }

  a:focus {
    border: 1px solid #000;
  }
}
