@use "../base/variables" as *;

.hero-section {
  background-image: url("images/hero-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1770 / 820;
  display: grid;
  grid-template-rows: 3fr 2fr;

  &-center,
  &-scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-center {
    justify-content: flex-end;
  }

  &-scroll-down {
    justify-content: center;
  }

  &-slogan {
    font-size: 1.375em;
    line-height: 1.2;
    letter-spacing: 6.82px;
  }

  &-small-text {
    display: block;
    font-size: $size-small;
    line-height: 1.86;
    letter-spacing: 1.4px;
  }

  &-scroll-down a:hover,
  &-small-text:hover {
    color: $color-red;
  }

  &-scroll-down a:active,
  &-small-text:active {
    position: relative;
    top: 2px;
  }

  &-scroll-down a:focus,
  &-small-text:focus {
    border: 1px solid #000;
  }
}

@media screen and (max-width: 992px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-center,
    &-scroll-down {
      padding: $size-big;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    &-slogan {
      font-size: $size-normal;
    }
  }
}
