@use "../base/variables" as *;

nav {
  background-color: $colour-secondary;

  li,
  p {
    transition: all 0.3s ease-in;
  }

  li:hover,
  p:hover {
    background-color: #7890fb;
  }

  li:active,
  p:active {
    background-color: #2e54fe;
  }

  a:active {
    position: relative;
    top: 2px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;

  &-logo {
    display: flex;
    align-items: center;

    p {
      padding: 1.25em;
    }

    a {
      font-size: 1.5em;
      font-weight: bold;
      letter-spacing: 2.4px;
    }
  }

  &-logo p,
  &-links li {
    text-transform: uppercase;
  }

  &-links {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-between;
    }

    a {
      font-size: $size-small;
      display: block;
      padding: 1.65em;
    }
  }

  .hamburger-btn-container {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  nav {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;

    &-links {
      width: 100%;

      .navbar-pages {
        display: none;
      }

      .navbar-pages.is-open {
        display: flex;
        flex-direction: column;
      }
    }

    .hamburger-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      padding: 1em;
      margin-left: auto;
    }

    .hamburger-btn {
      font-size: 1.2em;
      color: #fff;
      background-color: $colour-secondary;
      border: none;
      cursor: pointer;
    }

    .hamburger-btn:active {
      position: relative;
      top: 2px;
    }
  }
}
