@use "../base/variables" as *;

.section-two {
  text-align: center;

  &-container {
    min-height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .svg-curve {
    min-height: 25vh;
  }

  i {
    font-size: 3.75em;
    padding: 10px;
    margin-bottom: 0.5em;
    background-color: $color-background;
    border-radius: 50%;
  }

  p {
    font-size: 2.25em;
    font-family: $font-secondary;
  }

  &-icon-one {
    color: $colour-secondary;
  }

  &-icon-two {
    color: #ff6363;
  }
}

@media screen and (max-width: 1200px) {
  .section-two {
    padding: 2em;

    .svg-curve {
      max-height: 25vh;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-two {
    padding: 3em;
    height: auto;

    &-container {
      display: flex;
      flex-direction: column;
    }

    p {
      font-size: 2em;
    }

    .svg-curve {
      display: none;
    }

    &-icon {
      padding: 2em;
    }
  }
}
