@use "../base/variables" as *;

.section-one {
  background-image: url("images/first-section-background.png");
  aspect-ratio: 1770 / 685;
  align-items: center;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  //Text container
  &-layout-one {
    max-width: 35em;
    width: 100%;

    p {
      margin: $size-big 0;
    }

    button {
      margin-top: $size-big;
    }
  }

  //Image container
  &-layout-two {
    max-width: 27.5em;
    width: 100%;

    .img-two {
      display: flex;
      justify-content: flex-end;
      margin-top: $size-smaller;
    }
  }
}

@media screen and (max-width: 1200px) {
  .section-one {
    padding: $size-larger;
    text-align: center;
    &-container {
      display: flex;
      flex-direction: column;
    }

    &-layout-one {
      padding-bottom: $size-big;
    }

    &-layout-two {
      max-width: 75vw;

      .img-one,
      .img-two {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-one {
    h2 {
      line-height: 1.5;
    }

    img {
      max-width: 80%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .section-one {
    img {
      max-width: 100%;
      width: 100%;
    }
  }
}
