@use "../base/variables" as *;

.section-five {
  background-image: url("images/fifth-section-background.png");
  aspect-ratio: 1770 / 731;
  width: 100%;
  align-items: center;

  h2 {
    text-align: center;
  }

  .information-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: #333;
  }
  .text-container {
    padding: 2.5em 1.5em 2.3em 3.8em;
  }

  i {
    color: $colour-secondary;
    font-size: 2.5em;
    margin-right: 5px;
  }

  img {
    display: block;
    object-fit: cover;
  }
}
