.section-three {
  background-image: url("images/third-section-background.png");
}

.section-four {
  background-image: url("images/fourth-section-background.png");

  .center {
    display: flex;
    justify-content: flex-end;
  }
}

.section-three,
.section-four {
  aspect-ratio: 1770 / 770;
  align-items: flex-end;

  .text-box {
    max-width: 540px;
    width: 100%;
    background-color: rgba(35, 35, 35, 0.9);
    padding: 3em 1.75em;
  }

  h3 {
    padding-bottom: 1em;
  }

  p {
    padding-bottom: 1.4em;
  }

  button {
    margin-top: 1.4em;
  }
}

@media screen and (max-width: 1200px) {
  .section-three,
  .section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 992px) {
  .section-three,
  .section-four {
    .center {
      padding: 2em;
    }
    .text-box {
      max-width: 60%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .section-three,
  .section-four {
    .center {
      padding: 3em;
    }

    .text-box {
      max-width: 80%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  .section-three,
  .section-four {
    .text-box {
      max-width: 90%;
      width: 100%;
    }
  }
}
